<h3>Here's your order</h3>
<div>
<p>Order id: <%= @order.id %></p>
<% @order.carted_products.each do |carted| %>
<%=carted.product.name%>
<p>Quantity: <%=carted.quantity%></p>
<% end %>



<p>Your subtotal: <%= number_to_currency(@order.subtotal) %></p>
<p>Your tax: <%=number_to_currency(@order.tax)%></p>
<p>Your total: <%=number_to_currency(@order.total)%></p>
<p>Ordered on <%=@order.friendly_time%>
</div>