<h1>Welcome to Ball City</h1>
<div class="center">
<a href="/products/new" class="btn btn-primary btn-lg active" role="button">Create a new product</a>

</div>
<div class="row">
<% @products.each do |product| %>
   <div class="col-md-4">
     <div class="well">
      <p><%= image_tag product.image %></p>
      <p><%= product.description %> <a href="/products/<%=product.id %>"><%= product.name %></a></p>
      <p>$<%= product.price %></p>
      <p><%= product.friendly_time %></p>
    </div>  
  </div>
<% end %>
</div> 

