<%= form_tag '/products', method: :post do %>
  <div class="form-group">
    <%= label_tag :description, 'Please enter the brand:' %>
    <%= text_field_tag :description, '', class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :name, 'Please enter the name:' %>
    <%= text_field_tag :name, '', class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= label_tag :price, 'Please enter the price:' %>
    <%= text_field_tag :price, '', class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= label_tag :image, 'Please enter the image source:' %>
    <%= text_field_tag :image, '', class: "form-control"  %>
  </div>
  <div class="btn btn-default">
    <%= submit_tag 'Submit Product!' %>
  </div>
<% end %>
