<%= form_tag '/images', method: :post do %>
<div class="form-group">
    <%= label_tag :url, 'Please enter the url:' %>
    <%= text_field_tag :url, '', class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :product_id, 'Please enter the product id:' %>
    <%= text_field_tag :product_id, '', class: "form-control" %>
  </div>
  <div class="btn btn-default">
    <%= submit_tag 'Submit Image!' %>
  </div>
<% end %>